<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="titulo">Document</title>
    <link rel="stylesheet" href="./Injections/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Dosis:wght@200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Signika:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="./ruletka/jquery-1.12.4.min.js"></script>
    <script src="./ruletka/dr-dtime.js"></script>
    <script src="./ruletka/main.js"></script>
    <script src="./ruletka/jquery.countdown.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="./ruletka/index.css">

</head>
<body>
      <script src="./Injections/componentes.js"></script>     
    <script src="./Injections/dashboard.js"></script>   
    <script src="./Injections/Start.js"></script>
    
    <!-- VIDEO -->
    <section class="videoSpace">
<div class="itm">

    <div id="vid_63731d05916f4d000bfa42e9" style="position:relative;width:100%; padding: 56.25% 0 0;">
        <img id="thumb_63731d05916f4d000bfa42e9" src="https://images.converteai.net/68303d0c-902e-4ca5-a150-1a832bc13cd2/players/63731d05916f4d000bfa42e9/thumbnail.jpg" style="position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;display:block;">
        <div id="backdrop_63731d05916f4d000bfa42e9" style="position:absolute;top:0;width:100%;height:100%;-webkit-backdrop-filter:blur(5px);backdrop-filter:blur(5px);">
        </div></div>
        <script type="text/javascript" id="scr_63731d05916f4d000bfa42e9">
        var s=document.createElement("script");s.src="https://scripts.converteai.net/68303d0c-902e-4ca5-a150-1a832bc13cd2/players/63731d05916f4d000bfa42e9/player.js",s.async=!0,document.head.appendChild(s);
        </script>
</div>
      </section>

    <!-- PESSOAS ASSISTINDO -->
    <section class="pessoas">
        <div class="enter" style="display: flex; height: fit-content;bottom: 0;text-align: center;font-size: 1.0em;">
            <div><div id="viewers">
                <canvas style="margin-left:1em;margin-right:0.4em;background-color: #00ff00;width:10px;height:10px;border-radius:100%"></canvas><b><span id="number"></span></b> Pessoas estão assistindo agora!
            </div>
      <script src="./Injections/MatchPeoples.js"></script>
        </div>    
        </div>
    </section>  

    <!-- O SEGREDO -->
 <div class="centralizar">
    <section class="roletalink">
        <div>
            <a href="#" class="button-go" id="m777";>
               <div class="scale-up-center">
                   <p class="txtButton">QUERO TER ACESSO AGORA!</p>
               </div>
            </a>
        </div>
    </section>
    <div class="content__inner content__inner_wide clearfix" >
        <div class="article__text js-mediator-article">
            <div class="hidden-content">
                <div class="spin-wrapper">
                    <img src="ruletka/parabens.png">
                    <div class="wheel-wrarpper">
                        <div class="wheel">
                            <img class="wheel-img" src="ruletka/prizewheel.png">
                            <div class="wheel-cursor">
                                <img src="ruletka/wheel-cursor.png">
                                <span class="cursor-text spin_active" id="rodar"> CLICA </span>
                            </div>
                        </div>
                    </div>
                </div>
        </div>    
    </div>
    <div class="spin-result-wrapper">
        <div class="pop-up-window">
            <div class="close-popup"></div>
            <span class="pop-up-heading"> APROVEITE ESSA OFERTA! </span>
            <p class="pop-up-text"> VOCÊ ACABOU DE GANHAR 50% DE DESCONTO, APROVEITE! </p>
            <p class="redirection" onload="redirecionar()" ></p>
           <!--- <button class="pop-up-button" id="qadr"> QUERO ADERIR </button> -->
        </div>
    </div>
</div>
 </div>
</br>
    </br>
        </br>
    </br>
 <script src="./Injections/cktconfig.js"></script>
 <script src="./Injections/componentes2.js"></script>   
</body>
<footer class="black">
 <!-- Termos de Uso e Política de Privacidade -->
 <div style="color: rgb(255, 255, 255); height: fit-content;bottom: 0;text-align: center;font-size: 0.4em;">
    <p>Copyright 2022 ®<p>
        <p>Todos os Direitos Reservados.</p></br>
            <p>ESTE SITE NÃO É DO GOOGLE: Este site não faz parte do Google ou Google INC. Além disso, este site não é endossado pelo Google de nenhuma maneira.
  
                Retornos passados não são garantias de retornos futuros. Os resultados podem variar de pessoa para pessoa.
                
                Produto digital entregue via e-mail.</p>                
                
            <p> AVISO LEGAL: Os resultados referentes ao serviço foram avaliados e comprovados por nossos clientes. Não garantimos os resultados iguais para todos, estes variam de pessoa para pessoa dependendo de diversos fatores individuais. As informações fornecidas neste site destina-se ao seu conhecimento geral e não garantimos um resultado específico, todo resultado será de inteira responsabilidade do cliente. Essa página/produto não tem vinculo com o Facebook.</p>
    <div class="text-white mt-4"><a href="termos.html" class="text-white">Termos de Uso</a> | <a href="privacidade.html" class="text-white">Política de Privacidade</a> | <a href="reembolso.html" class="text-white">Política de Reembolso</a>  | <a href="aviso.html" class="text-white">Aviso de exoneração</a></div>
</div>
</br>
</br>
</footer>
<header></header>
</html>